@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url("test.jpg");
    font-family: 'Roboto', sans-serif;
    }

                 /* Début du Header */
    
        /* Début du Navbar */
nav {
    background-color: #352587;
    width: 100%;
    height: 110px; 
    display: flex;
    justify-content: space-between;
    margin-right: 0px;

    }
.logoimg {
    margin-top: 15px;
    margin-left: 50px;
    
        } 
.DivMenu{
    display: none;

        }
.cart {
    margin-right: 50px;
    margin-left: 25px;
    background: #D5CDFF;
    cursor: pointer;
        }
          
.menuu{
    display: none;
    cursor: pointer;  
       
    }
.navRight {
    display: flex;
    align-items: center;
    
          }
.navRight ul {
    display: flex;
    align-items: center;
    
            }
.navRight ul li{
    list-style: none;
    
                }

.navRight ul li a {
text-decoration: none;
margin-left: 50px;
color: #D5CDFF;
                }


            /* Fin du Navbar */

.sec2header{
   
    background-color: #211369;
        }

.photoheader {
    opacity: .65;
    position: relative;   
    
            }
  
.texteHeader {
    position: absolute;
    color: #D5CDFF;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
     }

.donnezvie{
     font-weight: bold;
     
          }
    

h1 {
    color: #fff;
    margin:0;
    text-align: center;
    font-size: 40px;
    }
                    /* Fin du Header */


                    /* Début du Main */

                      /* Section1 */


.ImgMain{
    position: relative;

        }
.photoMain1{
    margin-top: 0px;
    display: block;
    
            }
        
.texteNumerisez{
    position: absolute;
    
    margin-top: -370px;
    text-align: start;
    width: 41%;
    

    }
.texteNumerisez h1 {
        
    font-size: 27px;

                    }
.texteNumerisez p{
    color: #fff;
    margin-left: 20px;
    
                    }                    

                /* Section2 */
.produit {
    padding: 50px;
    background-color: #352587;
    height: 600px;
    
        }  
.produit h1 {
    padding-top: 30px;
            }

.LaSlate{
    margin-left: 20%;
    margin-top: 70px;
    margin-bottom: 30px;
         }
.caracteristiques {
    margin-left: 20px;
    margin-right: 20px;
    align-items: baseline;
    margin-top: 80px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto auto auto;
    background-color: #352587;
                }
.caracteristiques h3{
    font-weight: bold;
                    }
                
.caracteristiques p{
    color: #fff;
                    } 
h3 {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
                        
    }
                /* Section3 */

.PromotionContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
                    }

.childone{
    width: 100%;
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: row;
        }
.ProImg{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
        }
.imagpro{
    height: 100%;
        }

.prix{
    background-color: #9D1A1F;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    }

.prom30{
    width: 100%;
        }
#arg{
    color:#F1C559;
    font-size: 40px;
    margin-top: -10px;
    text-align: center;
    margin-bottom: 0;
    }
#bar{
    text-decoration:line-through;
    }
#size140{
    font-size: 50px;
        }

.childtwo{
    width: 100%;
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: row;
        }
.Divpro{
    display: flex;
    flex-direction: column;

        }
.Divhurr, .Divpro{
    width: 50%;
                }

.pro {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    }
.hurr{
    background-color: #9D1A1F;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    }

input[type=text], textarea {
    margin: 2px;
    display:flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font: 300 1em/1.35rem "proxima-nova", sans-serif;
    width: 100%;
    background-color: #d0caf1;
    padding: 10px;

                            }

textarea{
    height: 122px;
    width: 100%;
        }

input[type=send] {
    justify-self: flex-end;
    width: 150px;
    height: 50px;
    background-color: #d0caf1;
    border-style: none;
    
    color: #9D1A1F;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    float: right;
    background-color: ;
    }
                
.BTN input[type=send]{
    align-self:flex-end;

                    }


input[type=send]:hover {
    background-color: #F1C559;          


}

                        /* Fin du Main */




                        /* Début du Footer */

footer{
    background-color: #201848; 
      }

.FooterContainer {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 50px;  
    
    height:fit-content;
                }
  
  
footer section {
    color: #ccc;
    height: 170px;
                }

   
.par-1 {
    color: #fff;      
    
    }

.maildeco{
    text-decoration: none;
    color: #fff;

    }
.par-2{
    color: #fff;
}

.par-2 a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;     
      
         }

.par-3 {
    color: #fff;
        
       }  
.par-3 h2{
    text-align: start;
    } 

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    
    border: 1px solid #ccc ;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    width: 60%;
    border: none;
    background-color: #D5CDFF;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    
    border-radius: 8px;
     
            }

.copy{
    border: solid;
    border-color: #ccc;
    padding: 10px;
    color: #fff;
      }













@media screen and (max-width: 900px)and (min-width: 400px){

.LaSlate{
width: 100%;
margin-left: 10px;

        }
.PressionImg{
width: 80%;
            }
.navRight{
display: none;
        }
.texteNumerisez{
margin-top: -470px;
                }
.texteHeader{
margin-top: 20%;

            }
.produit {
background-color: #352587;
margin:0;
height: auto;

            }
.caracteristiques{

display: grid;
grid-template-columns: auto auto;
height: auto;
margin:0;

                }

.FooterContainer{
display: grid;
grid-template-columns: auto ;
height: auto;
justify-items: start;
justify-content: center;
align-items: center;
                }

.DivMenu {

display: flex;
width: 100px;
display: block;


        }

.Menu {

border: none;
width: 100%;           
        }
.MenuImg{
width: 100%;
cursor: pointer;

        }

.linksMedia {
display: none;
align-items: center;
text-align: center;
position: absolute;
left: 0;
top: 110px;
background-color: #ccc;
width: 100%;
z-index: 1;
}

.linksMedia a {
color:#211369;
padding: 20px 16px;
text-decoration: none;
display: block;
font-size: 30px;
}
.DivMenu:hover .linksMedia {
display: block;
                            }

.childone{
width: 100%;
height: fit-content;
align-items: center;
flex-direction: column-reverse;
display: flex;

        }
.ProImg{
    width: 100%;
}
.prix{
    width: 100%;
}
.childtwo{
width: 100%;
height: fit-content;
align-items: center;
flex-direction: column;
display: flex;

            }
.Divhurr{
    width: 100%;
}
.Divpro{
    width: 90%;
}
.copy{
    display: none;
    
    }
.copy{
    display: block;
    
    }


            }

       

